.cursor {
  top: 0;
  left: 0;
  --w: 50px;
  --h: 50px;
  transform: translate3D(var(--x, 0px), var(--y, 0px), 0) translate(-50%, -50%);
  transform-origin: center;

  width: var(--w);
  height: var(--h);

  transition:
    width 0.2s,
    height 0.2s;

  position: fixed;
  border: solid 2px currentcolor;
  pointer-events: none;
}
